html,body{
    height: 100%;
    width: 100%;
    background: #4f04c8;;
    background: -webkit-linear-gradient(#ffb153, #4f04c8);
    background: -moz-linear-gradient(#ffb153, #4f04c8);
    background: linear-gradient(#ffb153, #4f04c8);
}

h1{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    margin: 0 auto;
    padding: 48px;
    position: relative;
    top: 350px;
    font-size: 96px;
    text-align: center;
    font-size: 120px;
}
form{
    margin: 20 auto;
   text-align: center;
   position: relative;
   top: 350px;
    font-family: 'Raleway';

}
a{
    text-decoration: none;
}

.weatherwidget-io{
position: absolute;
margin: 0 auto;
}

.bookmarks{
    font-size: 36px;
    text-align: center;
    padding: 30px;
    transition: 0.15s;
    position: relative;
    top: 300px;
    
}

.bookmarks a:hover{
    font-size: 58px;
    position: relative;
}

#clock{
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(grey, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

input[type=text]{
    height: 25px;
    background: transparent;
    width: 300px;
    border: 2px solid black;
    color: black;
}

input[type=submit]{
    background: transparent;
    height: 30px;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    
}
a